a {
    text-decoration: none;
}

body {
    background-color: #eeeaea;
}

.button{
    background-color : none;
    text-decoration : none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    cursor: pointer;
    margin-top: 2%;  
}

#byline {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 3%;
    font-weight: 100;
}

#splash {
    background: url(SplashPage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #a9404f;
}

#splashText {
    font-family: 'Raleway', sans-serif;
    color: white;
}

#splashLogo {
    width: 16%;
    margin-top: 6%;
}

img.logo {
    height: 75%;
    margin-top: 0.8%;
    margin-left: 5%;
    float: left;
}

img.card {
    width: 76%;
    margin-top: 2%;
}

img.gear {
    float: left;
    margin-top: 2%;
    margin-left: 14%;
    height: 30%;
}

img.link1 {
    height: 25%;
    float: left;
    margin-top: 2.1%;
    margin-left: 10%;
}

img.link2 {
    height: 25%;
    float: left;
    margin-top: 2.1%;
    margin-left: 1%;
}

img.fit {
    width: 100%;
}

input[type=text] {
    width: 35%;;
    box-sizing: border-box;
    border: 2px solid #eeeaea;
    border-radius: 2px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: white; 
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 0.4% 0.4% 0.4% 0.4%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;

}

p.link {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

p.Log {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    float: left;
    margin-top: 2.1%;
    margin-left: 2%;
}

/*divs*/

div.wrapper {
    background-color: #eeeaea;
    position:fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.header {
    background-color: #ff4157;
    width: 100%;
    height: 12%;
    border-bottom: thick solid #d74959;
}

div.links {
    float: left;
    margin-top: 1%;
    margin-left: 12%;
}

div.filter {
    background-color: white;
    width: 15%;
    float: left;
}

div.cards {
    background-color: #eeeaea;
    width: 70%;
    float: left;
}

div.message {
    background-color: white;
    width: 15%;
    float: left;
}

div.rec{
    background-color: white;
    width: 15%;
    float: left;
}